<div class="row justify-content-center">
  <div class="col-md-4 register-employee">
    <input type="text" label="Enter Transaction id" (input)="Transactionid=$event.target.value">
    <button type="button" (click)="getdata()">Get Details</button>
    <!-- form card register -->
    <div class="card-body">
      <form [formGroup]="carwashForm">
        <div class="form-group">
          <label for="inputName">Customer Name</label>
          <input class="form-control" type="text" formControlName="custname" readonly>
        </div>
        <div class="form-group">
          <label for="inputName">User Name</label>
          <input class="form-control" type="text" formControlName="username" readonly>
        </div>
        <div class="form-group">
          <label for="inputEmail3">Booking Date</label>
          <input class="form-control" type="date" formControlName="bookingdate" readonly>
        </div>
        <div class="form-group">
          <label for="inputEmail3">Bookied service</label>
          <input class="form-control" type="text" formControlName="bookingservice" readonly>
        </div>
        <div class="form-group">
          <label for="inputVerify3">Choose time</label>
          <input class="form-control" type="time" formControlName="bookingstarttime" readonly>
        </div>
        <div class="form-group">
          <label for="inputVerify3">Vehicle type</label>
          <input class="form-control" type="text" formControlName="vehiclemodel" readonly>
        </div>
        <div class="form-group">
          <label for="inputVerify3">User Email</label>
          <input class="form-control" type="text" formControlName="email" readonly>
        </div>
        <div class="form-group">
          <label for="inputVerify3">Phone Number</label>
          <input class="form-control" type="text" formControlName="phoneno" readonly>
        </div>
        <div class="form-group">
          <label for="inputVerify3">Booking Status</label>
          <input class="form-control" type="text" formControlName="bookingstatus" readonly>
        </div>
        <div class="form-group">
          <label for="inputVerify3">Transaction Id</label>
          <input class="form-control" type="text" formControlName="Transactionid" readonly>
        </div>
        <div class="form-group">
          <label for="inputVerify3">Slot Number</label>
          <input class="form-control" type="number" formControlName="SlotNo" readonly>
        </div>
      </form>
      {{errormessage}}
    </div>
  </div><!-- form card register -->
</div>
